.reviews__block {
   display: flex;
   flex-direction: column;
   gap: 24px;
}

.reviews__list {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 20px;
}

.reviews {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 24px;
}

.reviews__title {
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: 1;
}

.reviews__info {
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 1;
}

.reviews__text {
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 1.4;
}